/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar styles */
  #nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0;
    height: 40px;
    background-color: aqua;
  }
  
  .nav-link{
    text-decoration: none;
    color: #3d0150;
    font-size: 20px;
    margin-right: 20px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #666;
  }
  
  /* Home section styles */
  #home {
    text-align: center;
    padding: 100px 0;
  }
  
  .home-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* About section styles */
  .about {
    padding: 100px 0;
  }
  
  .user-detail-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .user-detail-intro {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
  }
  
  /* Skills section styles */
  #skills {
    padding: 100px 0;
  }
  
  .skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .skills-card-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .skills-card-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Projects section styles */
  #projects {
    padding: 100px 0;
  }
  
  .project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  .project-card img{
    width: 500px;
  }
  
  .project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-description {
    color: #666;
    margin-bottom: 10px;
  }
  
  .project-tech-stack {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .project-github-link,
  .project-deployed-link {
    display: block;
    color: #333;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .project-github-link:hover,
  .project-deployed-link:hover {
    color: #666;
  }
  
  /* Contact section styles */
  #contact {
    padding: 100px 0;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .contact-info {
    font-size: 18px;
    color: #333;
  }
  
  /* Resume button styles */
  .resume-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .resume-button:hover {
    background-color: #666;
  }
  